/*SCROLL*/
.scroll{
    float: right;
    background-color: $backgroundDiv;
    height: 800px;
    width: 60%;
    overflow-y: scroll;}

/*BORDE CURVO*/
.bordeRadio{
    border-radius: 4px;
}