//COLORES
$backgroundColor: #52858fb3;
$backgroundDiv: #89ccdab3;
$mainColor: #f6f6f6;
$secondaryColor: rgb(248, 192, 118);
$tituloColor: #FAEBD7;
$white: #f5f0f0;
$black: #0f0e0e;
$sombraNegra: 0px 15px 25px rgba(0, 0, 0, 0.50);
